@model CreatePostVM
@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" asp-controller="Post" enctype="multipart/form-data">
                   
                   <div class="form-floating">
                        <textarea asp-for="Body" class="form-control" placeholder="Post......" id="floatingTextarea2" style="height: 100px"></textarea>
                        <span class="text-danger" asp-validation-for="Body"></span>

                   </div>
                    <div class="form-group">
                        <label for="exampleInputUserAge">Age</label>
                        <input asp-for="UserId" type="text" class="form-control" id="exampleInputUserAge" placeholder="Age">
                        <span class="text-danger" asp-validation-for="UserId"></span>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputUserAge">Image</label>
                        <input asp-for="Photo" type="file" class="form-control" id="exampleInputUserAge" placeholder="Enter Image">
                        <span class="text-danger" asp-validation-for="Photo"></span>

                    </div>
                  



                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/validation-styling.js"></script>
}